.search-bar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 17%;
    height: 4%;
    margin-top: 5px;
    z-index: 1;
}

.search-bar > input {
    width: 88%;
    height: 100%;
    border-radius: 30px;
    padding-right: 11%;
    font-size: 2vmax;
}

#buttonOfTextInput {
    position: absolute;
    width: 16%;
    height: 100%;
    background-color: transparent;
    border: none;
    right: 0;
    top: 3px;
}